@tailwind base;

@layer base {
  :root {
    --background: 221.5 31.7% 8%;
    --primary: 221.5 31.7% 11.8%;
    --secondary: 221.5 31.7% 16.1%;
    --accent: 227, 83%, 60%;
    --foreground: 221.5 31.7% 98%;
    --card: 221.5 31.7% 15%;
    --card-foreground: 221.5 31.7% 98%;
    --popover: 221.5 31.7% 15%;
    --popover-foreground: 221.5 31.7% 98%;
    --primary-foreground: 221.5 31.7% 98%;
    --secondary-foreground: 221.5 31.7% 98%;
    --muted: 221.5 31.7% 30%;
    --muted-foreground: 221.5 31.7% 98%;
    --accent-foreground: 192 100% 98%;
    --destructive: 0 84.2% 60%;
    --destructive-foreground: 221.5 31.7% 98%;
    --border: 221.5 31.7% 30%;
    --input: 221.5 31.7% 30%;
    --ring: 150 92% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221.5 31.7% 8%;
    --primary: 221.5 31.7% 11.8%;
    --secondary: 221.5 31.7% 16.1%;
    --accent: 192 100% 70%;
    --foreground: 221.5 31.7% 98%;
    --card: 221.5 31.7% 15%;
    --card-foreground: 221.5 31.7% 98%;
    --popover: 221.5 31.7% 15%;
    --popover-foreground: 221.5 31.7% 98%;
    --primary-foreground: 221.5 31.7% 98%;
    --secondary-foreground: 221.5 31.7% 98%;
    --muted: 221.5 31.7% 30%;
    --muted-foreground: 221.5 31.7% 98%;
    --accent-foreground: 192 100% 98%;
    --destructive: 0 84.2% 60%;
    --destructive-foreground: 221.5 31.7% 98%;
    --border: 221.5 31.7% 30%;
    --input: 221.5 31.7% 30%;
    --ring: 150 92% 45%;
    --radius: 0.5rem;
  }
}
